{% extends 'base.html' %}
{% block menu %}
    <nav>
        <ul id="mainmenu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about_company' %}">О компании</a></li>
            <li><a href="{% url 'services' %}">Услуги</a></li>
            <li><a href="{% url 'products' %}">Продукция</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </nav>
{% endblock menu %}
{% block content %}
    <section class="servicess" style="margin-top: 180px">
    <div class="container">
        <div class="row pt-5 col-4 col-sm-12 col-md-12 col-lg-12">
            <h2>Услуги</h2>
            {% comment %}{% for service in services %}
                <div>
                    <img src="{{ service.imageURL }}" alt="">
                    <a href="{% url 'item-detail' service.slug service.id %}"><h4 style="padding-top: 36px">{{ service.name }}</h4></a>
                </div>
            {% endfor %}{% endcomment %}

            <div class="zooom col-10 col-sm-12 col-md-12 col-lg-12 text-align-center" style="margin-top: 10px;">   {% comment %}style="display: flex" class="col-lg-6 col-md-4"{% endcomment %}
                {% for service in services %}
                    <div class="col-lg-4 col-md-12 col-sm-12 mb30 name" style="background-size: cover;">
                        <figure class="pic-hover hover-scale mb20">
                            <a href="{% url 'item-detail' service.slug service.id %}">
                                <span class="bg-overlay" style="width: 100%; height: 224px;"></span>
                                <img style="width: 85%; padding-top: 20px;padding-left: 40px;" src="{{ service.imageURL }}" class="img-responsive" alt="">
                            </a>
                        </figure>
                        <a href="{% url 'item-detail' service.slug service.id %}">
                            <h3>{{ service.name }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            <span class="step-links" style="color: black; display: inline-flex">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-white" style="margin-right: 10px;">&laquo; Начало</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-white">{{ page_obj.previous_page_number }}</a>
                {% endif %}

                <span class="current btn btn-white" style="margin: 0 10px 0 10px;">{{ page_obj.number }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-white">{{ page_obj.next_page_number }}</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-white" style="margin-left: 10px;">Конец &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    </section>
{% endblock content %}